@mixin sp {
    @media screen and (max-width: 767px){
        @content;
    }
}
@mixin medium {
    @media screen and (max-width: 1200px){
        @content;
    }
}
* {
    box-sizing: border-box;
}
.full {
    width: 100vw;
}

.fv {
    @extend .full;
    height: 100vh;
    background-image: url(/assets/img/fv-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
/*    @include sp {
        background-image: url(/assets/img/fv-bg-sp.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        }*/
    &__photo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95%;
        transform: translate(-50%, -50%);
    }
    &__img {
        width: 100%;
    }
}
.wrap {
    @extend .full;
    padding-top: 150px;
    background-color: #EEFFEE;
    @include medium {
        padding-top: calc(100vw * 150 / 1200);
    }
    @include sp {
        padding-top: 70px
    }
    &:last-of-type {
        padding: 100px 0;
        background: linear-gradient(to right, rgba(0, 255, 255, 0.25) 65%, rgba(41, 171, 226, 0.25)); 
        @include sp {
            padding: 50px 0;
        }
    }
    &--wallet {
        @extend .full;
        background-image: url(/assets/img/LPbgimg.png);
        background-repeat: repeat;
        @include medium {
            background-size: calc(100vw * 225 / 1200);
        }
    }
}
.block {
    margin: 0 auto 100px;
    max-width: 1200px;
    @include medium {
        margin-bottom: calc(100vw * 100 / 1200);
        width: 80%;
    }
    @include sp {
        margin-bottom: 70px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    &--wallet {
        position: relative;
        margin: 0 auto;
        max-width: 1200px; 
        height: 700px;
        @include medium {
            height: calc(100vw * 700 / 1200);
        }   
    }
    &__photo {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    &__img {
        width: 100%;
        &--circle {
            width: 100%;
            border: solid 3px #000;
            border-radius: 30px;
        }
    }
    &__ttl {
        margin-bottom: 50px;
        color: #FFFF00;
        text-align: center;
        font-size: 108px;
        font-weight: 800;
        -webkit-text-stroke: 3px #F00;
        text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.16);
        line-height: 1;
        @include medium {
            margin-bottom: calc(100vw * 50 / 1200);
            font-size: calc(100vw * 108 / 1200);
            -webkit-text-stroke: calc(100vw * 3 / 1200) #F00;
        }
        @include sp {
            margin-bottom: 30px;
            font-size: 48px;
            -webkit-text-stroke: 1px #F00;
        }
        span {
            display: block;
            margin-bottom: 30px;
            color: #333;
            text-align: left;
            font-size: 36px;
            -webkit-text-stroke: 0px #333;
            text-shadow: none;
            @include medium {
                margin-bottom: calc(100vw * 30 / 1200);
                font-size: calc(100vw * 36 / 1200);
            }
        }
        &--qa {
            margin-bottom: 50px;
            text-align: center;
            font-size: 72px;
            line-height: 1;
            @include medium {
                margin-bottom: calc(100vw * 50 / 1200);
                font-size: calc(100vw * 72 / 1200);
            }
            @include sp {
                margin-bottom: 30px;
                font-size: 36px;
            }
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include sp {
            display: block;
        }
    }
    &__list {
        max-width: 350px;
        box-shadow: 10px 10px 10px;
        @include medium {
            width: calc(100vw * 350 / 1200 * 0.8);
        }
        @include sp {
            margin-bottom: 50px;
            max-width: 750px;
            width: 100%;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &--circle {
            max-width: 350px;
            @include medium {
                width: calc(100vw * 350 / 1200 * 0.8);
            }
                @include sp {
                margin-bottom: 50px;
                max-width: 750px;
                width: 100%;
                &:last-of-type {
                    margin-bottom: 0;
                }    
            }    
        }
    }
    &__question {
        padding-bottom: 100px;
        width: 100%;
    }
}
.attention {
    margin: 0 auto 50px;
    max-width: 1200px;
    height: 500px;
    background-color: #fff;
    border: solid 5px #000;
    @include medium {
        width: 80%;
    }
    @include sp {
        height: 250px;
    }
    &__scroll {
        height: 490px;
        border: solid 50px #fff;
        border-right: none;
        overflow: scroll;
        @include medium {
            border: solid calc(100vw * 50 / 1200) #fff;
            border-right: none;
        }
        @include sp {
            height: 240px;
        }
    }
    &__ttl {
        margin-bottom: 50px;
        color: #333;
        font-size: 48px;
        line-height: 1;
        @include sp {
            margin-bottom: calc(100vw * 50 / 1200);
            font-size: calc(100vw * 48 / 1200);
        }
    }

    &__list {
        padding-left: 30px;
        margin-right: 50px;
        text-indent: -30px;
        text-align: justify;
        font-size: 24px;
        &::before {
            content: "※ ";
        }
        @include medium {
            margin-right: calc(100vw * 50 /1200);
        }
        @include sp {
            padding-left: calc(100vw * 30 / 1200);
            text-indent: calc(100vw * (-30) / 1200);
            font-size: calc(100vw * 24 / 1200);
        }
    }
}
.button {
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
    background-color: #0000FF; 
    border-radius: 50px;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: #fff;
        border-radius: 50px;
    }
    @include medium {
        margin-top: calc(100vw *100 / 1200);
        width: calc(100vw *1000 / 1200 * 0.8);
        height: calc(100vw *100 / 1200);
    }
    &__link {
        display: inline-block;
        padding: 26px 0;
        width: 100%;
        color: #fff;
        border-radius: 50px;
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: #0000FF;
        }
        @include medium {
            padding: calc(100vw * 26 / 1200) 0;
            font-size: calc(100vw * 48 / 1200);
        }
    }
    &__img {
        width: 100%;
    }
}